body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, rgba(68, 6, 119, 0.568), rgba(6, 40, 114, 0.5));
    height: 900px;
    width: 1750px;
    border: 2px solid aliceblue;
    border-radius: 7px;
}
button {
    background-image: linear-gradient(to right, rgba(7, 104, 117, 0.534), rgba(25, 9, 168, 0.555));
    padding: 40px;
    height: 100px;
    position: relative;
    left: 1500px;
    bottom: -740px;
    border-radius: 12px;
    border: 2px solid #ffffff00; /* Green */
}

img{
}


h1 {
    
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
    font-size: 150px;
    
}
